<footer class="page-footer text-center font-small mt-4 wow fadeIn">

    <hr class="my-4">

    <!-- Social icons -->
    <div class="pb-4">
      <a href="https://www.facebook.com/kennedysimasiku.kalalukasibeso" target="_blank">
        <i class="fab fa-facebook-f mr-3"></i>
      </a>

      <a href="https://twitter.com/Kennedy_Sibeso" target="_blank">
        <i class="fab fa-twitter mr-3"></i>
      </a>

      <a href="https://www.youtube.com/channel/UC_3zmR3ums_dGGuTcafO03A" target="_blank">
        <i class="fab fa-youtube mr-3"></i>
      </a>
      
      <a href="https://www.linkedin.com/in/kennedykalaluka" target="_blank">
        <i class="fab fa-linkedin mr-3"></i>
      </a>

      <a href="https://github.com/Kenmind/e-commerce_website" target="_blank">
        <i class="fab fa-github mr-3"></i>
      </a>

      </div>
    <!-- Social icons -->

    <!--Copyright-->
    <div class="footer-copyright py-3">
      © 2022 Copyright:
      <a href="https://www.themasterminds.tech" target="_blank">The Masterminds Tech</a>
    </div>
    <!--/.Copyright-->

  </footer>
